<div class="header-section">
    <h1>Dictionary</h1>
    <h2>Discover Search Learn</h2>
  </div>

<div (window:resize)="onResize($event)">
<div class="tool-bar-top"> </div>


<mat-toolbar class="common-toolbar"  *ngIf="clickedSearch" >
  <a matTooltip="Back" (click)="cancelSearch()" class="back-button" >&times;</a>

     
     <input (keyup.enter)="callSearchCedict()" class="search-input" matInput [(ngModel)]="searchString" placeholder="Search Cedict" >
    
    
    
     <button (click)="callSearchCedict()"  mat-raised-button color="primary"> Search</button>
     
    </mat-toolbar>

  <mat-toolbar class="tool-bar common-toolbar" *ngIf="!clickedSearch" >
    <a matTooltip="Search" class="search" (click)="clickedSearch = !clickedSearch"><mat-icon>search</mat-icon></a>
    <span class="tool-bar" ><span *ngIf="width > 420">Chinese English</span> Dictionary <span matTooltip="Search Help" class="inner-span"><a (click)="openDialog()"><mat-icon class="help-icon">help_outline</mat-icon></a></span></span>
    <a *ngIf="searchResultsShown" matTooltip="Clear Search" class="close" (click)="clearSearch()" >&times;</a>
 </mat-toolbar>


 <div class="table-container mat-elevation-z8">
      <mat-paginator #paginator
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="handlePageEvent($event)">
      </mat-paginator>

<mat-table #table [dataSource]="dataSource">
  
      <ng-container *ngIf="simplifiedShown" matColumnDef="hanzi">
        <mat-header-cell *matHeaderCellDef> Hanzi </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.Simplified}} </mat-cell>
      </ng-container>

      <ng-container *ngIf="!simplifiedShown" matColumnDef="hanzi">
          <mat-header-cell *matHeaderCellDef> Hanzi </mat-header-cell>
          <mat-cell  *matCellDef="let element"> {{element.Traditional}} </mat-cell>
        </ng-container>
  
      <ng-container matColumnDef="pinyin">
        <mat-header-cell *matHeaderCellDef> Pinyin </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Pinyin}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="definition">
        <mat-header-cell *matHeaderCellDef> Definition </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Definition}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-card>{{length}} Entries <span *ngIf="searchString !== '' && searching === true" >Of Search "{{searchStringCopy}}"</span> Powered By Cedict
    </mat-card>
    <button  *ngIf="simplifiedShown" (click)="switchCharacterSet()" mat-raised-button color="primary">Switch to Traditional</button>
    <button  *ngIf="!simplifiedShown" (click)="switchCharacterSet()" mat-raised-button color="primary">Switch to Simplified</button>

  </div>
</div>
