h1,h2,h3,p,label{
    font-family: roboto;
    color:#666;
    text-align: center;
  }
  h2{
      font-weight: bold;
  }

  .content p{
      margin:auto;
      max-width:1000px;
      text-align: left;
  }

  .main-content{
      margin-top:60px;
  }
  .scale{
    margin: 0 auto;
  }

  .next{
      float:right;
      color:rgba(255,255,255,.7);
  }

.footer{
    
    max-width:1000px;
    margin:auto;
    margin-top:12px;
    
}