.logo{
    font-size: 14em;
}

mat-toolbar.mat-toolbar {
    margin-left: -8px;
    margin-top: -8px;
    width: 102%;
}
mat-progress-bar{
    margin-left: -8px;
    margin-top: -6px;
    width: 102%;
}

md-spinner {
    float:right;
    width: 14px;
    height: 14px;
    margin: 5px 10px 0px 0px;
  }

  mat-spinner.mat-spinner.mat-progress-spinner.mat-primary.mat-progress-spinner-indeterminate-animation {
    /* float: right; */
    position: fixed;
    right: 15px;
}

button.menu.mat-raised-button {
  float: right;
  position: absolute;
  right: 15px;
}
.menu-text{
    text-align: center;
}
.footer-text{
    font-family: roboto;
    color:rgba(255,255,255,.7);
    text-align: right;
    font-size:.8em;
    margin-right:80px;
    padding-top:19px;
}
.all-content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom:40px;

}
footer{
   
  
    background-color: #393939;
    width:102%;
   
    margin-left:-9px;


    display:block;
    margin-top:60px;
    height: 60px;
    clear: both;
    bottom: 0;
 

}

.copyright{
    font-size:.85em;
}