<!--The content below is only a placeholder and can be replaced.-->
<div class="all-content">
<mat-toolbar class="mat-elevation-z10">


    <button class="menu" mat-raised-button [matMenuTriggerFor]="menu"> <mat-icon>menu</mat-icon></button>
    <button mat-button [routerLink]="['']"><mat-icon>home</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a class="menu-text" mat-menu-item [routerLink]="['']">Home</a>
      <a class="menu-text" mat-menu-item [routerLink]="['cedict']">Dictionary</a>   
        <a class="menu-text" mat-menu-item [routerLink]="['hskHome']" >HSK</a>
        <a  class="menu-text" mat-menu-item >Close</a>
      </mat-menu>
</mat-toolbar>

<mat-progress-bar *ngIf="apps.loading"  mode="indeterminate"></mat-progress-bar>

<div style="text-align:center">


</div>

<router-outlet></router-outlet>
<div class="push"></div>
</div>
<footer>
    <div class="footer-text">
        <mat-icon class="copyright">copyright</mat-icon>Copyright 2017 Caleb McCarthy
    </div>
  </footer>

