<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>


    <button class="menu" mat-raised-button [matMenuTriggerFor]="menu"> <mat-icon>menu</mat-icon></button>
    <button mat-button [routerLink]="['']"><mat-icon>home</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a class="menu-text" mat-menu-item [routerLink]="['']">Home</a>
      <a class="menu-text" mat-menu-item [routerLink]="['cedict']">Dictionary</a>
      

        
        <a class="menu-text" mat-menu-item [routerLink]="['about']">About</a>
        
        <a class="menu-text" mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 1 }">hsk1</a>
        <a class="menu-text" mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 2 }">hsk2</a>
        <a class="menu-text" mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 3 }">hsk3</a>
        <a class="menu-text" mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 4 }">hsk4</a>
        <a class="menu-text" mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 5 }">hsk5</a>
        <a class="menu-text" mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 6 }">hsk6</a>
        <a  class="menu-text" mat-menu-item >Close</a>
      </mat-menu>
      <!-- <mat-spinner *ngIf="apps.loading" [diameter]="30"></mat-spinner> -->
</mat-toolbar>
<mat-progress-bar *ngIf="apps.loading"  mode="indeterminate"></mat-progress-bar>

<div style="text-align:center">


</div>

<router-outlet></router-outlet>

