<h2>Lesson 2</h2>
<h3>First Conversation</h3> 
<div class="container-wrapper">
<div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/VowdjV2932Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</div>
<h3>Transcript</h3> 
<div class="translate-section">
<button mat-elevation-z6 class="translate" mat-raised-button (click)="englishShown = !englishShown" >{{buttonText()}}</button>
</div>
<div class="content">
  
  <!-- <div class="line">
     <div *ngFor="let line of dialogList" class="hanzi">
        <p (click)="line.flag = !line.flag">{{line.value()}}</p>
      </div>
     
  </div> -->

  <mat-list role="list">
    
    <mat-list-item *ngFor="let line of LessonTwo.Conversation" class="hanzi" role="listitem">
      <p (click)="line.Flag = !line.Flag">{{dosplayValue(line)}}</p>
    </mat-list-item>
    
  </mat-list>

  


</div>

<!-- <div class="mid-section">
  <mat-divider></mat-divider>
</div> -->

<div class="word-Section">

<mat-toolbar><div class="tool-bar">New Words</div></mat-toolbar>
<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="hanzi" (click)='onAudioPlay(element.File)'>
    <mat-header-cell *matHeaderCellDef> Hanzi </mat-header-cell>
    <mat-cell matTooltip="Play Audio" (click)='onAudioPlay(element.File)'  *matCellDef="let element"> <a class="clickable-hanzi" >{{element.Hanzi}}</a> </mat-cell>
  </ng-container>


  <ng-container matColumnDef="pinyin">
    <mat-header-cell *matHeaderCellDef> Pinyin </mat-header-cell>
    <mat-cell matTooltip="Play Audio" (click)='onAudioPlay(element.File)' *matCellDef="let element"> {{element.Pinyin}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="definition">
    <mat-header-cell *matHeaderCellDef> Definition </mat-header-cell>
    <mat-cell matTooltip="Play Audio" (click)='onAudioPlay(element.File)' *matCellDef="let element"> {{element.Definition}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>






</div>

<div class="footer">
<button matTooltip="Previous Lesson" mat-elevation-z6 class="previous" mat-raised-button [routerLink]="['/lesson1']"><mat-icon>arrow_backward</mat-icon></button>


</div>




