.content{
    margin-top:40px;
    font-family: DejaVu Sans;
    
    color:#666; 
    font-weight: bold;
    max-width:800px;
    margin-left:40px;
}

.hanzi{
    cursor:pointer;
}
h2, h3{
    font-family: roboto;
    color:#666;
    text-align: center;
}