<div class="card-author">
<mat-card class="about-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Author</mat-card-title>
    <mat-card-subtitle>Caleb McCarthy</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="card-image" src="/assets/images/bus.jpg" alt="Photo of Author">
  <mat-card-content>
    <p>
      Application for studying for the HSK on the go. Written in Angular 4, mongodb, and golang. 
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a class="email-button" href="mailto:caleb.a.mccarthy@gmail.com" mat-raised-button>caleb.a.mccarthy@gmail.com</a>
  </mat-card-actions>
</mat-card>
</div>