
<div class="main-div">
<header class="mat-elevation-z6">

  <div class="header-section">
    <h1>HSK Hanyu</h1>
    <h2>Learn Chinese Anywhere</h2>
  </div>

  <div class="lower-section">
  
    <!-- <button>Get Started</button> -->
    <button [routerLink]="['home']" class="center-button mat-elevation-z6" mat-button>Get Started</button>


  </div>
</header>

<div class="wrapper">
<div class="section-two">


<div>
    
        <div class="flash-tile" >
          <div [routerLink]="['home']" class="flash-card mat-elevation-z6">中</div>
        </div>
       
          <div class="label-heading">
            <h3>HSK Flash Cards</h3>
            <p class="discription">Study flash cards for words most likely needed for each HSK level</p>
          </div>

     
       <div class="section-three">
            <div class="label-heading-two">
                <h3>Chinese English Dictonary</h3>
                <p class="discription">Browse and Search one of the largest Chinese Translation Dictonaries</p>
              </div>
        
              <div class="search-tile"><a [routerLink]="['cedict']"><mat-icon class="search-icon">search</mat-icon></a></div>
            </div>

</div>
</div>
<div class="push"></div>
</div>



</div>

 




