<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
<!-- <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['']">Home</a><br>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 1 }">hsk1</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 2 }">hsk2</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 3 }">hsk3</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 4 }">hsk4</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 5 }">hsk5</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 6 }">hsk6</a>
      </mat-menu> -->
<h2>Welcome to hsk study</h2>
<mat-checkbox>Check me!</mat-checkbox>
<a [routerLink]="['']">Home</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 1 }">hsk1</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 2 }">hsk2</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 3 }">hsk3</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 4 }">hsk4</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 5 }">hsk5</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 6 }">hsk6</a><br>

<button mat-raised-button>Click me!</button>
<!-- <a [routerLink]="['hsk2']">hsk2</a> -->
<!-- <h2>{{leveltitle}} Vocabulary List </h2> -->


