
<h1>HSK Hanyu</h1>
<h2>Study for the HSK anywhere</h2>
<div class="box-container">
<mat-grid-list cols="{{columns}}" rowHeight="3:1.4" (window:resize)="onResize($event)">

  <div class="row" *ngFor="let h of homeLinks;let i = index">

  <mat-grid-tile (click)="navigate(h)">
    <!-- {{h.title}} -->
    <mat-card class="hsk-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{h.title}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          {{h.description}}
        </p>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

    </div>
   </mat-grid-list>
  </div>