<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
<!-- <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['']">Home</a><br>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 1 }">hsk1</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 2 }">hsk2</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 3 }">hsk3</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 4 }">hsk4</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 5 }">hsk5</a>
        <a mat-menu-item [routerLink]="['hsk1']" [queryParams]="{level: 6 }">hsk6</a>
      </mat-menu> -->
<h2>Welcome to hsk study</h2>


<mat-grid-list cols="{{columns}}" rowHeight="3:1.4" (window:resize)="onResize($event)">

  <div class="row" *ngFor="let h of homeLinks;let i = index">

  <mat-grid-tile (click)="navigate(h)">
    <!-- {{h.title}} -->
    <mat-card class="hsk-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{h.title}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt=""> -->
      <mat-card-content>
        <p>
          {{h.description}}
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>GO!</button>
      </mat-card-actions> -->
    </mat-card>


  </mat-grid-tile>

    </div>




   </mat-grid-list>




<!-- <a [routerLink]="['']">Home</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 1 }">hsk1</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 2 }">hsk2</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 3 }">hsk3</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 4 }">hsk4</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 5 }">hsk5</a><br>
<a [routerLink]="['hsk1']" [queryParams]="{level: 6 }">hsk6</a><br> -->

<!-- <button mat-raised-button>Click me!</button> -->
<!-- <a [routerLink]="['hsk2']">hsk2</a> -->
<!-- <h2>{{leveltitle}} Vocabulary List </h2> -->


